---
import Layout from '../layouts/default.astro';

import SectionHero from '../components/Section/Hero.astro';
import SectionContent from '../components/Section/Content.vue';
import SectionÜberUns from '../components/Section/ÜberUns.vue';
import SectionTeam from '../components/Section/Team.astro';
import SectionKontakt from '../components/Section/Kontakt.vue';
import SectionCallToAction from '../components/Section/CallToAction.astro';
---

<Layout>
      <div>
            <SectionHero/>
            <SectionÜberUns/>
            <SectionTeam/>
            <SectionKontakt/>
            <SectionCallToAction/>
 	 </div>
</Layout>

<style>

</style>
